
<%@ page import="encuestador.ContactoTemplate" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'contactoTemplate.label', default: 'ContactoTemplate')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-contactoTemplate" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-contactoTemplate" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="codigo" title="${message(code: 'contactoTemplate.codigo.label', default: 'Codigo')}" />
					
						<g:sortableColumn property="asunto" title="${message(code: 'contactoTemplate.asunto.label', default: 'Asunto')}" />
					
						<g:sortableColumn property="template" title="${message(code: 'contactoTemplate.template.label', default: 'Template')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${contactoTemplateInstanceList}" status="i" var="contactoTemplateInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${contactoTemplateInstance.id}">${fieldValue(bean: contactoTemplateInstance, field: "codigo")}</g:link></td>
					
						<td>${fieldValue(bean: contactoTemplateInstance, field: "asunto")}</td>
					
						<td>${fieldValue(bean: contactoTemplateInstance, field: "template")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${contactoTemplateInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
