
<%@ page import="encuestador.AsignacionParticipante" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'asignacionParticipante.label', default: 'AsignacionParticipante')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-asignacionParticipante" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-asignacionParticipante" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list asignacionParticipante">
			
				<g:if test="${asignacionParticipanteInstance?.encuestador}">
				<li class="fieldcontain">
					<span id="encuestador-label" class="property-label"><g:message code="asignacionParticipante.encuestador.label" default="Encuestador" /></span>
					
						<span class="property-value" aria-labelledby="encuestador-label"><g:link controller="encuestador" action="show" id="${asignacionParticipanteInstance?.encuestador?.id}">${asignacionParticipanteInstance?.encuestador?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
				<g:if test="${asignacionParticipanteInstance?.participante}">
				<li class="fieldcontain">
					<span id="participante-label" class="property-label"><g:message code="asignacionParticipante.participante.label" default="Participante" /></span>
					
						<span class="property-value" aria-labelledby="participante-label"><g:link controller="participaEn" action="show" id="${asignacionParticipanteInstance?.participante?.id}">${asignacionParticipanteInstance?.participante?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:asignacionParticipanteInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${asignacionParticipanteInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
